@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Monoton');

*{
	overflow: hidden;
	margin: 6px;
}

.negro{
	background-image: url(https://s-media-cache-ak0.pinimg.com/236x/d2/56/db/d256db61b7c12a2ceca47ad7c68a0ed9--hospitals.jpg);
	color: transparent;
}

.blanco{
	color: transparent;
}

.final{
	background-color: salmon;
	color: salmon;
}
.inicio{
	background-color: yellow;
	color: yellow;
}

#redondo{
    background: red;
    width:16px;
    height:16px;
    position: inherit;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

h1{
	margin: 0 auto;
	font-family: 'Monoton', cursive;
	font-size: 60px;
	color: grey;
	padding: 17px;
}

h1:hover{
	color: black;
}

h3{
	text-shadow: 5px 5px 5px gray;
	text-align: center;
	font-size: 40px;
	font-family: 'Advent Pro', sans-serif;
}

p{
	text-align: center;
	font-size: 30px;
	font-family: 'Advent Pro', sans-serif;
}

tr, td{
	width: 40px;
    height: 40px;
}

#cont{
	width: 40%;
	float: left;
}

#cuadro{
	width: 50%;
	float: right;
}

p, h1, h3, table {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
